# sample.env
# Copy this file to .env and edit the values
# Create a secret key using
SECRET_KEY=mysecretkeywithoutquotes
# Set DEBUG to True for development, False for actual use
DEBUG=True
# ALLOWED_HOSTS is a comma-separated list of hosts that can access the app.
# You can use wildcard chars (*) and IP addresses. Use * for any host.
ALLOWED_HOSTS=*.ku.th,localhost,127.0.0.1,::1
# Your timezone
TIME_ZONE=Asia/Bangkok
